* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: aliceblue;

	height: 100vh;
	margin: 0;

	display: flex;
	flex-flow: column nowrap;

	user-select: none;
}

body > nav {
	flex: 0 0;

	display: flex;
	align-items: center;
	padding: 0.5em;

	border-bottom: solid 1px grey;
}

body > div {
	flex: 1;

	display: grid;
	grid-template: 1fr / 3em 9em 1fr;
}

#sidebar {
	display: contents;
}

#categories {
	overflow: auto;
	border-right: solid 1px grey;
}

#choices {
	overflow: auto;
	border-right: solid 1px grey;
}

#workspaceContainer {
	flex: 1;

	overflow: hidden;
}

#workspace {
	width: 0;
	height: 0;
	overflow: visible;
}

.block {
	position: absolute;
	text-align: center;
	border: solid 2px transparent;
	border-radius: calc(0.5em + 2px); 
		/* 2px is the border's thickness, .5em is the border-radius of .header & .content */
	/* overflow: clip; */

	width: fit-content;
	height: fit-content;

	--port-radius: 5px;
}

.block:focus {
	border-color: limegreen;
}

.block > .header {
	padding: 0.5em;
	padding-top: calc(var(--port-radius) + 0.5em);
	cursor: move;
	background-color: #2196f3;
	border-radius: 0.5em 0.5em 0 0;
}

.block > .content {
	padding: 0.5em;
	padding-bottom: calc(var(--port-radius) + 0.5em);
	background-color: #222;
	border-radius: 0 0 0.5em 0.5em;
}

.block > :is(.inputPorts, .outputPorts) {
	white-space: nowrap;
	height: 0;
	display: flex;
	gap: var(--port-radius); /* defined in .block */
	align-items: center;
	justify-content: center
}

.block .port {
	--radius: var(--port-radius); /* defined in .block */
	width: calc(2 * var(--radius));
	height: calc(2 * var(--radius));
	border-radius: var(--radius);
	display: inline-block;

	background-color: white;
}

.block.selected {
	border-color: limegreen;
	box-shadow: 0 0 5px limegreen;
}

.lineContainer {
	position: absolute;
	pointer-events: none;
	stroke: hsl(207 90% 80%);
	stroke-width: 3px;
	stroke-linecap: round;
}
